
<div class="content" style="background-color: #9289D8; width: 100%;height: 650px;">

    <div class="screen">
      <div class="screen__content">
        <form class="login" [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="login__field">
           
            <input type="text" class="login__input" formControlName="username" placeholder="User name / Email">
          </div>
          <div class="login__field">
            
            <input type="password" class="login__input"  formControlName="password" placeholder="Password">
          </div>
          <button class="button login__submit" type="submit">
            <span class="button__text">Log In Now</span>
            <span class="button__icon ">></span>
          </button>				
        </form>
      </div>
      <div class="screen__background">
        <span class="screen__background__shape screen__background__shape2"></span>
        <span class="screen__background__shape screen__background__shape1"></span>
      </div>		
    </div>
  
</div>
