<div class="col-md-12 grid-margin">
    <div class="d-flex justify-content-between align-items-center">
      <div>
        <h4 class="font-weight-bold mb-0">List Departments</h4>
      </div>
      <div>
          <a type="button" routerLink="/admin/adddepartment"  class="btn btn-primary btn-icon-text btn-rounded">
            <i class="ti-clipboard btn-icon-prepend"></i>Nouveau
          </a>
      </div>
    </div>
  </div>
<div class="example-wrapper" style="height: 700px;">
    <table class="table table-striped ">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Libelle</th>
      
       <th scope="col">Actions</th>
      
    </tr>
  
</thead>
  <tbody>
  
    <tr *ngFor = "let department of crudserv.list">
      <td>{{department.id}}</td>
      <td>{{department.libelle}}</td>
   

      <td>
        <button class="btn btn-danger" (click)="removeData(department.id)">
            <i class="fa fa-trash-o"></i></button>
      
      </td>
      <td><button class="btn btn-warning" (click)="selectData(department)">
        <i class="fa fa-pencil-square-o"></i></button>
      </td>
      
    </tr>
      </tbody>
</table>
</div>
