<div class="col-md-12 grid-margin">
  <div class="d-flex justify-content-between align-items-center">
    <div>
      <h4 class="font-weight-bold mb-0">List Reclamation</h4>
    </div>
    <div>
        <a type="button" routerLink="/admin/addreclamation"  class="btn btn-primary btn-icon-text btn-rounded">
          <i class="ti-clipboard btn-icon-prepend"></i>Nouveau
        </a>
    </div>
  </div>
</div>
<div class="example-wrapper" style="height: 700px;">
  <table class="table table-striped ">
<thead>
  <tr>
    <th scope="col">id</th>
    <th scope="col">Salle</th>
    <th scope="col">Proprieter</th>
    <th scope="col">Date </th>
    <th scope="col">Description</th>
    <th scope="col">Etat</th>
    
     <th scope="col">Actions</th>
    
  </tr>

</thead>
<tbody>

  <tr *ngFor = "let reclamation of crudserv.list">
    <td>{{reclamation.id}}</td>
    <td >{{getSalle()}}</td>
    <td >{{reclamation.proprieter}}</td>
    <td>{{reclamation.dateRec}}</td>
    <td>{{reclamation.description}}</td>
    <td *ngIf="reclamation.etat">Preparer</td>
    <td *ngIf="!reclamation.etat">Nom Preparer</td>
 

    <td>
      <button class="btn btn-danger" (click)="removeData(reclamation.id)">
          <i class="fa fa-trash-o"></i></button>
    
    </td>
    <td><button class="btn btn-warning" (click)="selectData(reclamation)">
      <i class="fa fa-pencil-square-o"></i></button>
    </td>
    
  </tr>
    </tbody>
</table>
</div>
