
<div class="container w-50 p-5">
    <h3>Nouveau department</h3>
<form  [formGroup]="this.deptserv.formData" (ngSubmit)="onSubmit()">
    
        <input  type="hidden" class="form-control" id="id" formControlName="id">
    <div class="form-group">
        <label   for="libelle" >libelle</label>
        <input type="text" class="form-control" id="libelle" formControlName="libelle">
        
    </div>
    <div class="from-group">
        <p>Complete le formilaire pour active le button.</p>
        <button class="btn text-light" style="background-color: #71b959;" [disabled]="!this.deptserv.formData.valid" type="submit">Ajouter</button>
    </div>


</form>

</div>
