<div class="container" style="width: 400px;">
    <h3>Ajouter Un Employee</h3>
<form  [formGroup]="this.emplserv.formData" (ngSubmit)="onSubmit()">
    
        <input  type="hidden" class="form-control" id="id" formControlName="id">
    <div class="form-group">
        <label   for="nom" >Nom</label>
        <input type="text" class="form-control" id="nom" formControlName="nom">
        
    </div>
    <div class="form-group">
        <label   for="prenom" >Prenom</label>
        <input type="text" class="form-control" id="prenom" formControlName="prenom">
        
    </div>
    <div class="form-group">
        <label   for="department" >Department de travaile :</label>
        <select class="form-control"  id="department" formControlName="department">
            <option value="0">--select votre department--</option>
            <option *ngFor = "let department of deptServ.list" value="{{department.id}}">{{department.libelle}}</option>
        </select> 
    </div>
    <div class="form-group">
        <label   for="email" >Email</label>
        <input type="text" class="form-control" id="email" formControlName="email"> 
    </div>
    <div class="form-group">
        <label   for="plainPassword" >Mot de passe :</label>
        <input type="password" class="form-control" id="plainPassword" formControlName="plainPassword"> 
    </div>
    <div class="from-group">
        <p>Complete le formilaire pour active le button.</p>
        <button class="btn btn-succes" [disabled]="!this.emplserv.formData.valid" type="submit">ajout</button>
    </div>


</form>

</div>

